snippet import "import functions"
import ${1:functions} from '${2:dependencies}';
endsnippet

snippet ccls "create react component class"
class ${1:ClassName} extends Component {
}
endsnippet

snippet spt "static propTypes"
static propTypes = {
  ${1:prop}: PropTypes.${2:type}
}
endsnippet

snippet spt "static default props"
static defaultProps = {
  ${1:prop}: ${2:value}
}
endsnippet
